---
interface Props {
  title: string;
  meta: string;
  description: string;
  url?: string;
}

const { title, meta, description, url } = Astro.props;
---

<article class="work-card">
  <p>{meta}</p>
  <h3>{title}</h3>
  <span>{description}</span>
  {url && <a class="text-link" href={url}>Leer en Substack</a>}
</article>
